@media only screen and (max-width: 575px) {
  .btn.large-only, tr.large-only, tr.stackable td.large-only{
    display: none;
  }
  tr.stackable td {
    display: block;
  }
  tr.stackable td.hidden-on-sm-collapsed {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .small-only {
    display: none;
  }
  .btn.small-only {
    display: none;
  }
}

.bold-text {
  font-weight: bold;
}

.row-color-week1 {
  background-color: lightgreen !important;
}
.row-color-week2 {
  background-color: mediumseagreen !important;
}
.row-color-week3 {
  background-color: violet !important;
}
.row-color-invalid {
  background-color: lightpink !important;
}
.row-color-na {
  background-color: lightblue !important;
}