@media only screen and (max-width: 575px) {
  a.large-only, .btn.large-only, tr.large-only, tr.stackable td.large-only{
    display: none;
  }
  tr.stackable td {
    display: block;
  }
  tr.stackable td.hidden-on-sm-collapsed {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .btn.small-only {
    display: none;
  }
}

.bold-text {
  font-weight: bold;
}

.row-color-a {
  background-color: lightgreen !important;
}
.row-color-b {
  background-color: violet !important;
}
.row-color-invalid {
  background-color: lightpink !important;
}
.row-color-na {
  background-color: lightblue !important;
}

.disable-ios-copy-paste {
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
}

html {
  font-size: .88rem;
}
.file {
  visibility: hidden;
  position: absolute;
}

.z-auto {
  z-index: auto !important;
}